.ingredients-component {
  .btn-back-sticky {
    display: none;
  }

  @media screen and (max-width: 992px) {
    .btn-back-sticky {
      display: block;
      position: sticky;
      bottom: 0;
      z-index: 1;
      width: calc(100%);
      text-align: center;
      background: #C8D226;
      padding: 6px;

      a {
        color: #fff;
        font-weight: 600;
        font-size: medium;
      }
    }
  }
}