$font: 'Montserrat',
sans-serif;
$primary: #333;
$secondary: #999;

//colors
$apple-green: #C8D226; //introducción
$ocher-yellow: #F4C710; //Flow Cacao
$beige: #D4B776; // Sostenibilidad
$peach: #D94C52; //Soluciones
$citrus: #939B25; //Clientes
$tangerine: #EB7828; //R&D
$light-gray: #ababab; // Propuesta de valor
$live-yellow: #F2CB0E; //Blog
$wine: #532C2E //work-with-us and contact-with-us