.customer-component {
  height: inherit;
  display: grid;
  grid-template-rows: 30% 70%;
  grid-template-columns: 1fr;
  background: url('../../assets/img/customer-bkg.png') center;
  background-size: cover;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 0;
    background: #3e1112;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    opacity: .9;
  }


  &--header {
    z-index: 1;
    color: #fff;

    h1 {
      font-weight: 700;
      font-size: 5em;
      margin-top: 1em;
      text-align: center;
    }

    .btn-dist {
      position: absolute;
      top: 0;
      left: 5em;

      .logo {
        margin: 5em auto .5em;
        width: 10em;
        display: block;
      }

      button {
        font-weight: 700;
        background: #F4C710;
        color: #685019;
        padding: 3px 18px;
      }
    }
  }

  &--content {
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    padding: 0 10em 10em;

    div {
      position: relative;
      cursor: pointer;

      .flag-badge {
        position: absolute;
        top: 0;
        left: 2.5%;
        height: 45px;
        width: 80px;
      }
    }

    img {
      width: 95%;
      height: 150px;
      object-fit: fill;
    }

    h2 {
      color: #fff;
      font-size: 2vw;
      font-weight: 700;
    }
  }
}