.our-product-component {
  padding: 0 3em 0 5em;
  //max-width: 710px;

  h1 {
    font-size: xx-large;
    font-weight: 700;
    line-height: 1em;
    margin: 1em 0 .5em 0;
  }

  .p-flavour {
    &-border {
      border-left: 4px solid #5c340b;
      border-radius: 4px;
      margin-bottom: 1em;
    }

    padding: .5em;
    margin: .5em 0;

    @media (min-width: 1370px) {
      font-size: 1vw;
    }
  }

  &-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    padding-bottom: 1em;
    border-bottom: 4px solid #5c340b;
    margin: 0 auto;
  }

  &-card {
    position: relative;
    text-align: center;

    &-active {
      p {
        margin: 0 auto;
        width: max-content;
        border-bottom: 4px solid #f3c90f;
      }
    }

    img {
      width: 100%;
      min-height: 170px;
      object-fit: cover;
    }

    &-cover {
      width: 100%;
      position: absolute;
      bottom: 0;
      text-align: center;
      color: #fff;
      font-size: larger;
      padding-bottom: 1em;
      background: linear-gradient(to top, rgba(0, 0, 0, .9) 30%, rgba(0, 0, 0, 0) 100%);
      font-weight: 600;
    }
  }

  @media screen and (max-width: 996px) {
    padding: 0;
    margin: 0 1em;

    &-card {
      &-cover {
        padding-bottom: 0;
      }

      p {
        word-break: break-word;
        line-height: 1em;
      }

      &-active p {
        width: auto;
      }

      img {
        min-height: 120px;
        height: 120px;
      }
    }
  }
}