.value-propose-component {
  height: inherit;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-template-areas: "expo item"
    "carrousel item";
  text-align: center;
  color: #FFF;
  overflow: hidden;

  &--expo {
    grid-area: expo;
    background: #C6865A;
    text-align: justify;
    position: relative;

    &-pagraph {
      position: absolute;
      bottom: 4em;
      right: 2em;
      left: 3em;

      h1 {
        font-weight: 700;
        font-size: 3.5vw;
      }

      p {
        border-left: 5px solid #5D340B;
        padding: .5em 1em;
        font-weight: 600;
        font-size: 1vw;
      }
    }
  }

  &--carrousel {
    grid-area: carrousel;
    background: #5D340B;
    background: url('../../assets/img/big-evelio.png');
    background-size: cover;

    h2 {
      border: 3px solid #FFFFFF;
      font-weight: 300;
      width: max-content;
      margin: 1em auto;
      padding: .2em .5em;
    }
  }

  &--item {
    grid-area: item;
    display: flex;
    flex-direction: column;
    background: url('../../assets/img/costals.png');
    background-position: right;
    background-size: contain;

    &-card {
      display: flex;
      flex-direction: column;
      flex: 1 1 0px;
      overflow: hidden;
      flex-direction: row;
      position: relative;
      border-bottom: 3px solid #eedaac;

      &:last-child {
        border: none;
      }

      img {
        width: 60%;
        object-fit: fill;
        z-index: 1;
      }

      &-text {
        @include vert-center;
        cursor: pointer;
        align-self: center;
        z-index: 0;
        font-weight: 700;
        padding: 0 1em;
        font-size: larger;

        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          z-index: -1;
          background: #5B2D00;
          backdrop-filter: blur(8px);
          -webkit-backdrop-filter: blur(8px);
          opacity: .9;
        }

      }

      &:hover {
        .value-propose-component--item-card-hover {
          @include vert-center;
          align-self: center;
          flex-direction: column;
        }
      }

      &-hover {
        display: none;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 2;
        font-size: larger;
        font-style: italic;
        font-weight: 400;

        p {
          padding: 0 10%;
        }

        a {
          font-weight: 700;
          background: #D4B776;
          color: #FFF;
          width: max-content;
          padding: 3px 18px;
          margin: 1em auto;
          font-style: normal;
        }

        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          z-index: -1;
          opacity: .8;
          background: #000000 0% 0% no-repeat padding-box;
          backdrop-filter: blur(17px);
          -webkit-backdrop-filter: blur(17px);
        }
      }
    }
  }

  .btn-dist {
    position: absolute;
    top: 0;
    left: 3em;

    .logo {
      margin: 5em auto .5em;
      width: 10em;
      display: block;
    }

    button {
      font-weight: 700;
      background: #F4C710;
      color: #685019;
      padding: 3px 18px;
    }
  }
}