.float-logo {
  position: absolute;
  top: 0;
  left: 3em;

  .logo {
    margin: 3em auto 0.5em;
    width: 12em;
    display: block;
  }

  a,
  button {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: 700;
    background: #f4c710;
    color: #685019;
    font-size: smaller;
    padding: 3px 18px;
  }

  @media screen and (max-width: 960px) {
    display: none;
  }
}