.float-logo {
  position: absolute;
  top: 0;
  left: 3em;
  width: fit-content;

  .logo {
    background: transparent;
    width: fit-content;

    img {
      width: 12em;
      margin: 4em auto 0.5em;
      display: block;
    }
  }

  a,
  button {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 700;
    background: #f4c710;
    color: #685019;
    font-size: smaller;
    padding: 3px 18px;
  }

  @media screen and (max-width: 960px) {
    display: none;
  }
}