.flow-tabs {
  display: grid;
  grid-template-rows: calc(100vh - 18em) 18em;
  height: 100vh;

  .flow-tab {
    display: grid;

    &-item {
      @include vert-center;

      span {
        cursor: pointer;
        font-size: large;
        font-weight: 700;
        text-align: center;
        writing-mode: tb-rl;
        transform: rotate(-180deg);
        color: #fff;
      }

      &--active {
        span {
          font-size: 3vw;
          align-self: center;
          writing-mode: unset;
          transform: none;
        }
      }
    }

    &--cacao {
      grid-template-columns: 10fr 1fr 1fr 1fr 1fr 1fr;
    }

    &--granjeros {
      grid-template-columns: 1fr 10fr 1fr 1fr 1fr 1fr;
    }

    &--abastecimiento {
      grid-template-columns: 1fr 1fr 10fr 1fr 1fr 1fr;
    }

    &--procesamiento {
      grid-template-columns: 1fr 1fr 1fr 10fr 1fr 1fr;
    }

    &--coberturas {
      grid-template-columns: 1fr 1fr 1fr 1fr 10fr 1fr;
    }

    &--producto {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 10fr;
    }

    .flow-tab-item {
      background-size: cover;

      &--cacao {
        background-image: linear-gradient(to bottom, rgba(97, 20, 6, 0.6) 100%, transparent), url('../../../assets/img/cacao-cover.png');
      }

      &--granjeros {
        background-image: linear-gradient(to bottom, rgba(209, 216, 114, .6) 100%, transparent), url('../../../assets/img/granjero-cover.png');
      }

      &--abastecimiento {
        background-image: linear-gradient(to bottom, rgba(213, 183, 119, .6) 100%, transparent), url('../../../assets/img/abaste-cover.png');
      }

      &--procesamiento {
        background-image: linear-gradient(to bottom, rgba(171, 171, 171, .6) 100%, transparent), url('../../../assets/img/proces-cover.png');
      }

      &--coberturas {
        background-image: linear-gradient(to bottom, rgba(83, 44, 46, .6) 100%, transparent), url('../../../assets/img/cober-cover.png');
      }

      &--producto {
        background-image: linear-gradient(to bottom, rgba(198, 134, 90, .6) 100%, transparent), url('../../../assets/img/product-cover.png');
      }
    }

  }

  .flow-content-component {
    overflow: hidden;
    display: grid;
    grid-template-columns: minmax(40%, 1fr) minmax(60%, 1fr);
    grid-template-rows: inherit;

    &--cacao {
      background: #611306;
    }

    &--granjeros {
      background: #C0C663;
    }

    &--abastecimiento {
      background: #D5B777;
    }

    &--procesamiento {
      background: #ABABAB;
    }

    &--coberturas {
      background: #532C2E;
    }

    &--producto {
      background: #C6865A;
    }

    &--text {
      padding: 5em 1em 3em 3em;
      color: #ffffff;
      line-height: 2em;
      font-size: 1vw;

      div {
        overflow: auto;
        height: 100%;
        padding-right: 2em;
        scrollbar-width: thin;
        scrollbar-color: #f3f3f3;

        /* width */
        &::-webkit-scrollbar {
          width: 8px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          background: rgba(0, 0, 0, .3);
          border-radius: 10px;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          height: 20px;
          border-radius: 10px;
          background: #f3f3f3;
          opacity: 0;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          background: rgba(243, 243, 243, .6);
        }
      }

    }

    &--slider {
      position: relative;

      .ant-carousel {
        position: absolute;
        width: 100%;
        height: 100%;

        div,
        img {
          height: inherit;
        }

        .slick-slide {
          text-align: center;
          height: 100%;
          line-height: 300px;
          overflow: hidden;

          img {
            width: inherit;
            object-fit: cover;
          }
        }
      }
    }
  }
}