.footer-cover {
  position: fixed;
  z-index: 1;
  width: 100%;
  bottom: 0;
  text-align: center;


  svg {
    cursor: pointer;
    color: whitesmoke;
    font-size: 2em;
  }

  &-nav {
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: .5em;
    margin-bottom: 2em;

    a {
      background: transparent;
      display: inline;
      cursor: pointer;

      span {
        border-bottom-width: 5px;
        border-bottom-style: solid;
      }
    }
  }

  &-flow {
    span {
      border-bottom-color: $ocher-yellow;
    }
  }

  &-sustain {
    span {
      border-bottom-color: $beige;
    }
  }

  &-solution {
    span {
      border-bottom-color: $peach;
    }
  }

  &-customer {
    span {
      border-bottom-color: $citrus;
    }
  }

  &-ryd {
    span {
      border-bottom-color: $tangerine;
    }
  }

  &-propos {
    span {
      border-bottom-color: rgb(104, 80, 250);
    }
  }

  &- {
    grid-template-columns: 1fr 2fr 1fr;

    span {
      border-bottom-color: $apple-green;
    }
  }

  &-open {
    background: linear-gradient(0deg, rgba(0, 0, 0, .9) 10%, rgba(0, 0, 0, 0) 85%);

    svg {
      transform: rotate(180deg);
    }

    nav {
      display: grid;
    }
  }

  a {
    color: #fff;
    align-self: center;
    text-align: center;
    font-weight: 700;
    font-size: medium;
  }

}