.footer-cover {
  position: fixed;
  z-index: 1;
  width: 100%;
  bottom: 0;
  text-align: center;


  svg {
    cursor: pointer;
    color: whitesmoke;
    font-size: 2em;
  }

  nav {
    display: none;
    grid-template-columns: 1fr 2fr 1fr;
    margin-top: 1em;
    margin-bottom: 2em;

    a {
      background: transparent;
      display: inline;
      cursor: pointer;

      span {
        border-bottom: 5px solid #C8D226;
      }
    }
  }

  &-open {
    background: linear-gradient(0deg, rgba(0, 0, 0, .9) 10%, rgba(0, 0, 0, 0) 85%);

    svg {
      transform: rotate(180deg);
    }

    nav {
      display: grid;
    }
  }

  a {
    color: #fff;
    display: none;
    align-self: center;
    text-align: center;
    font-weight: 700;
    font-size: medium;
  }

}