.our-value-component {
  display: grid;
  height: inherit;
  width: 100%;
  position: fixed;
  grid-template-columns: 70% 30%;
  grid-template-rows: 160px 1fr;
  grid-template-areas:
    "header navbar"
    "content navbar";

  .our-value-header {
    grid-area: header;
    position: relative;
    background-size: cover;
    background-position: center;
    @include vert-center;
    align-items: center;

    &--aroma {
      background-image: url('../../assets/img/aroma-header.png');
    }

    &--flavour {
      background-image: url('../../assets/img/flavour-header.png');
    }

    &--product {
      background-image: url('../../assets/img/product-header.png');
    }

    &--social {
      background-image: url('../../assets/img/social-header.png');
    }

    h1 {
      font-weight: 700;
      font-size: 3vw;
      margin-left: 150px;
      color: #fff;
      text-shadow: 0px 13px 6px #0000006F;
    }

    .btn-dist {
      position: absolute;
      top: 0;
      left: 3em;

      .logo {
        margin: 5em auto .5em;
        width: 10em;
        display: block;
      }

      a {
        font-weight: 700;
        background: #F4C710;
        color: #685019;
        padding: 3px 18px;
      }
    }
  }

  .our-value-content {
    grid-area: content;
    background: #F3F3F3;
    overflow: auto;
  }

  .our-value-navbar {
    grid-area: navbar;
    display: flex;
    flex-direction: column;

    &--active {
      border-bottom: 10px solid #F3C90F;
    }

    a {
      flex: 1 1;
      height: 25%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

    }
  }
}