.header-component {
  background: $apple-green;
  height: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  position: fixed;
  z-index: 9;
  width: 100%;

  &-flow {
    background: $ocher-yellow;
  }

  &-sustain {
    background: $beige;
  }

  &-solution,
  &-services {
    background: $peach;
  }

  &-customer {
    background: $citrus;
  }

  &-ryd {
    background: $tangerine;
  }

  &-value-propose,
  &-our-value {
    background: $light-gray;
  }

  &:hover {
    height: 3em;
    background: linear-gradient(180deg, rgba(0, 0, 0, .9) 10%, rgba(0, 0, 0, 0) 85%);

    //    filter: blur(28px);
    a {
      background: transparent;
      display: inline;
      cursor: pointer;
    }
  }

  a {
    color: #fff;
    display: none;
    align-self: center;
    text-align: center;
    font-weight: 700;
    font-size: 1vw;

    @media screen and (min-width: 1440px) {
      font-size: 14px;
    }
  }

  .selected-tab {
    position: relative;
  }

  .intro::after,
  .flow::after,
  .sustain::after,
  .solution::after,
  .customer::after,
  .ryd::after,
  .value-propose::after {
    content: '';
    position: absolute;
    top: 2em;
    left: 0;
    width: 100%;
    border-bottom-width: 5px;
    border-bottom-style: solid;
  }

  .intro::after {
    border-bottom-color: $apple-green;
  }

  .flow::after {
    border-bottom-color: $ocher-yellow;
  }

  .sustain::after {
    border-bottom-color: $beige;
  }

  .solution::after {
    border-bottom-color: $peach;
  }

  .customer::after {
    border-bottom-color: $citrus;
  }

  .ryd::after {
    border-bottom-color: $tangerine;
  }

  .value-propose::after {
    border-bottom-color: $light-gray;
  }

}