.header-component {
  background: $apple-green;
  height: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  position: fixed;
  z-index: 1;
  width: 100%;

  &-flow {
    background: $ocher-yellow;
  }

  &-sustain {
    background: $beige;
  }

  &:hover {
    height: 3em;
    background: linear-gradient(180deg, rgba(0, 0, 0, .9) 10%, rgba(0, 0, 0, 0) 85%);

    //    filter: blur(28px);
    a {
      background: transparent;
      display: inline;
      cursor: pointer;
    }
  }

  a {
    color: #fff;
    display: none;
    align-self: center;
    text-align: center;
    font-weight: 700;
    font-size: 1vw;
  }

  .selected-tab {
    position: relative;
  }

  .intro::after,
  .flow::after,
  .sustain::after,
  .solution::after,
  .customer::after,
  .r::after,
  .propos::after {
    content: '';
    position: absolute;
    top: 2em;
    left: 0;
    width: 100%;
    border-bottom-width: 5px;
    border-bottom-style: solid;
  }

  .intro::after {
    border-bottom-color: $apple-green;
  }

  .flow::after {
    border-bottom-color: $ocher-yellow;
  }

  .sustain::after {
    border-bottom-color: $beige;
  }

  .solution::after {
    border-bottom-color: rgb(104, 80, 250);
  }

  .customer::after {
    border-bottom-color: rgb(104, 80, 250);
  }

  .r::after {
    border-bottom-color: rgb(104, 80, 250);
  }

  .propos::after {
    border-bottom-color: rgb(104, 80, 250);
  }

}