.product-services-component {
  @include vert-center;
  align-items: center;
  flex-direction: column;

  &-title {
    border: 3px solid #484848;
    color: #484848;
    font-weight: 600;
    width: max-content;
    margin: 1em auto;
    padding: .2em 5em;
  }

  .product-carrousel {
    @include vert-center;
    align-items: center;
    position: relative;
    margin: auto;
    text-align: center;
    margin: 1em auto;

    .carr-item {
      filter: blur(2px);
      flex: 1 1;
      position: relative;
      z-index: 1;
      width: 15em;

      &--bar,
      &--dragee,
      &--dosing,
      &--cacao,
      &--maracas,
      &--arauca {
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: calc(50% - 5em);
          z-index: -1;
          border-radius: 100%;
          width: 10em;
          height: 10em;
        }
      }

      &--bar::after {
        background: #8AA130;
      }

      &--dragee::after {
        background: #7F5046;
      }

      &--dosing::after {
        background: #B3642C;
      }

      &--cacao::after {
        background: #B7C66C;
      }

      &--maracas::after {
        background: #C0895E;
      }

      &--arauca::after {
        background: #F2CB0E;
      }

      img {
        height: 10em;
        object-fit: contain;
      }

      h2,
      p {
        text-transform: uppercase;
        color: #532C2E;
      }

      h2 {
        font-weight: 700;
      }

      p {
        width: max-content;
      }


      &--active {
        filter: none;

        &.carr-item {

          &--bar,
          &--dragee,
          &--dosing,
          &--cacao,
          &--maracas,
          &--arauca {
            &::after {
              left: calc(50% - 7.5em);
              width: 15em;
              height: 15em;
            }
          }

        }

        img {
          height: 15em;
        }

        h2 {
          font-size: 2em;
        }
      }
    }

    .btn-next-img {
      max-height: 80px;
      filter: contrast(0.5);
      position: absolute;
      left: -1em;
      cursor: pointer;

      &--right {
        right: -1em;
        left: auto;
        transform: rotate(-180deg);

      }
    }
  }

  .btn-tobuy {
    text-align: center;
    display: block;
    font-weight: 700;
    background: #F4C710;
    color: #685019;
    padding: 3px 3em;
    margin: .5em auto 2em;
  }

  &--footer {
    color: #fff;
    font-weight: 700;
    margin: auto;
    padding: 2em 20%;
    text-align: center;

    &--bar {
      background: #8AA130;
    }

    &--dragee {
      background: #7F5046;
    }

    &--dosing {
      background: #B3642C;
    }

    &--cacao {
      background: #B7C66C;
    }

    &--maracas {
      background: #C0895E;
    }

    &--arauca {
      background: #F2CB0E;
    }
  }

  &--product {
    position: relative;
    width: calc(100% - 340px);
    align-self: start;
    padding-left: 20%;

    .btn-close {
      cursor: pointer;
      font-size: 3em;
      opacity: .2;
      position: absolute;
      right: 0;

      &:hover {
        opacity: 1;
      }
    }

  }

  &--maquila {
    .product-carrousel .carr-item {
      h2 {
        margin-top: 1em;
      }
    }
  }

  &--ingredients {
    .product-services-component-title {
      font-size: 2em;
    }

    .product-carrousel .carr-item {
      p {
        margin-top: 1em;
      }

      h2,
      p {
        width: 100%;
        font-size: smaller;
      }

      &--active {
        p {
          font-size: 1rem;
        }

        h2 {
          font-size: 1.2rem;
        }
      }
    }
  }
}