.maquila-component {
  @include vert-center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: calc(100% - 340px);
  align-self: start;
  padding-left: 20%;

  h2 {
    &:first-child {
      color: #675119;
      font-size: 2.5em;
      margin: 1em auto 0;
      text-align: center;
      font-weight: 700;
    }

  }

  &-title {
    border: 3px solid #484848;
    color: #484848;
    font-weight: 600;
    width: max-content;
    margin: 1em auto;
    padding: 3px 1em;
    font-size: 1em;
    text-transform: uppercase;

    @media screen and (min-width: 1200px) {
      font-size: medium;
    }
  }

  &--product-data {
    @include vert-center;
    align-items: center;
    position: relative;
    margin: auto;
    text-align: center;

    p {
      margin-left: 3em;
      text-align: left;
      font-size: smaller;
      padding-right: 3em;

      @media screen and (min-width: 1200px) {
        font-size: 1em;
      }
    }

    .maquila-item {
      position: relative;
      z-index: 1;

      &--dragee {
        margin-right: -1em;
      }

      &--bar,
      &--dragee,
      &--dosing {
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: calc(50% - 5em);
          z-index: -1;
          border-radius: 100%;
          width: 10em;
          height: 10em;
        }
      }

      &--bar::after {
        background: #8AA130;
      }

      &--dragee::after {
        background: #7F5046;
      }

      &--dosing::after {
        background: #B3642C;
      }

      img {
        height: 10em;
        object-fit: contain;
      }
    }

  }

  .maquila-product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em 2em;
    margin-bottom: 2em;
    margin-right: 2em;
    width: fit-content;
    margin-left: -10%;

    &--bar {
      width: 90%;
      grid-template-columns: 1fr 1fr;

      .maquila-product-item {
        font-size: 2em;
      }
    }

    &-item {
      cursor: pointer;
      @include vert-center;
      align-items: center;
      text-align: center;
      line-height: 1em;
      min-height: 5em;
      padding: 0 1em;
      color: #9EA950;
      font-size: x-large;
      font-weight: 700;

      &:nth-child(odd) {
        color: #62812E;
      }

      background: #fff;
    }
  }
}