.maquila-component {
  @include vert-center;
  align-items: center;
  flex-direction: column;

  &-title {
    border: 3px solid #484848;
    color: #484848;
    font-weight: 600;
    width: max-content;
    margin: 1em auto;
    padding: .2em 5em;
  }

  .product-carrousel {
    @include vert-center;
    align-items: center;
    position: relative;
    margin: auto;
    text-align: center;
    margin: 1em auto;

    .carr-item {
      filter: blur(2px);
      flex: 1 1;
      position: relative;
      z-index: 1;
      width: 15em;

      &--bar,
      &--dragee,
      &--dosing {
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: calc(50% - 5em);
          z-index: -1;
          border-radius: 100%;
          width: 10em;
          height: 10em;
        }
      }

      &--bar::after {
        background: #8AA130;
      }

      &--dragee::after {
        background: #7F5046;
      }

      &--dosing::after {
        background: #B3642C;
      }

      img {
        height: 10em;
        object-fit: contain;
      }

      h2 {
        text-transform: uppercase;
        color: #532C2E;
        font-weight: 700;
      }


      &--active {
        filter: none;

        &.carr-item {

          &--bar,
          &--dragee,
          &--dosing {
            &::after {
              left: calc(50% - 7.5em);
              width: 15em;
              height: 15em;
            }
          }

        }

        img {
          height: 15em;
        }

        h2 {
          font-size: 2em;
        }
      }
    }

    .btn-next-img {
      max-height: 80px;
      filter: contrast(0.5);
      position: absolute;
      left: -1em;
      cursor: pointer;

      &--right {
        right: -1em;
        left: auto;
        transform: rotate(-180deg);

      }
    }
  }

  .btn-tobuy {
    text-align: center;
    display: block;
    font-weight: 700;
    background: #F4C710;
    color: #685019;
    padding: 3px 3em;
    margin: .5em auto 2em;
  }

  &--footer {
    color: #fff;
    font-weight: 700;
    margin: auto;
    padding: 2em 20%;
    text-align: center;

    &--bar {
      background: #8AA130;
    }

    &--dragee {
      background: #7F5046;
    }

    &--dosing {
      background: #B3642C;
    }
  }

  &--product {
    width: 40%;
    margin-left: 20%;
    align-self: start;

    h2 {

      &:first-child {
        color: #675119;
        font-size: 2.5em;
        margin: 1em auto 0;
        text-align: center;
        font-weight: 700;
      }

    }

    .maquila-component-title {
      padding: 3px 1em;
      font-size: medium;
      text-transform: uppercase;
    }

    .product-carrousel .carr-item {
      filter: none;
    }

    &-data {
      p {
        margin-left: 3em;
        text-align: left;
        font-size: smaller;
      }
    }
  }
}