.ryd-component {
  display: grid;
  height: 100vh;
  background: aquamarine;

  .ryd-tab {
    display: grid;
    height: inherit;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    &-item {
      @include vert-center;

      span {
        cursor: pointer;
        font-size: 4vw;
        font-weight: 700;
        text-align: center;
        color: #fff;
        writing-mode: tb-rl;
        transform: rotate(-180deg);
        margin-left: auto;
      }

      &--active {
        max-width: 10%;
      }
    }

    &--experience {
      grid-template-columns: 6fr 1fr 1fr 1fr;
    }

    &--ethical {
      grid-template-columns: 1fr 6fr 1fr 1fr;
    }

    &--premium {
      grid-template-columns: 1fr 1fr 6fr 1fr;
    }

    &--healthy {
      grid-template-columns: 1fr 1fr 1fr 6fr;
    }

    .ryd-tab-item {
      background-size: cover;
      background-position: right;

      &--experience {
        background-image: url('../../assets/img/experience-bkg.png');
      }

      &--ethical {
        background-image: url('../../assets/img/ethical-bkg.png');
      }

      &--premium {
        background-image: url('../../assets/img/premium-bkg.png');
      }

      &--healthy {
        background-image: url('../../assets/img/healthy-bkg.png');
      }
    }

  }

  .btn-dist {
    position: absolute;
    top: 0;
    left: 5em;

    .logo {
      margin: 5em auto .5em;
      width: 10em;
      display: block;
    }

    button {
      font-weight: 700;
      background: #F4C710;
      color: #685019;
      padding: 3px 18px;
    }
  }
}