.dragees-component {
  position: relative;
  width: calc(100% - 340px);
  align-self: start;
  padding-left: 10%;

  @media screen and (min-width: 1360px) {
    padding-left: 20%;
  }

  &--header {
    text-align: center;
    margin: 2em auto 0;

    h1 {
      text-transform: uppercase;
      font-size: 2rem;
      color: #9EA850;
      font-weight: 700;

      &:first-child {
        color: #62812E
      }
    }
  }

  &--content {

    h2 {
      border: 3px solid #484848;
      color: #484848;
      font-weight: 600;
      width: max-content;
      margin: 0 auto 1em auto;
      padding: .2em 2em;
    }

    p {
      padding: 0 35px;
      text-align: center;
      margin: 2em;
      color: #484848;
      font-size: 1em;
    }
  }

  &--products {
    border-top: 3px solid #532C2E;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    width: calc(100% - 120px);
    text-align: center;

    &-item {
      position: relative;
      display: flex;
      width: max-content;
      margin: auto;
      margin-top: 3em;

      &-active {
        .dragees-component--products-item-img {
          &-container img {
            border: 4px solid #F4C710;
          }
        }
      }

      &-img {
        position: relative;
        cursor: pointer;

        &-container {
          border-right: 5px solid #939b25;
          //background: #fff;
          height: 100%;
          padding-right: 15px;
          display: flex;
          align-items: center;
        }

        img {
          width: 180px;
          object-fit: contain;

          @media screen and (min-width: 1360px) {
            width: 200px;
          }
        }
      }

      &-data {
        text-align: left;
        @include vert-center;
        flex-direction: column;
        justify-content: start;
        width: 280px;
        color: #484848;
        min-height: 180px;
        margin-left: 2em;

        @media screen and (min-width: 1360px) {
          width: 320px;
        }

        h2 {
          margin: 0 0 1em 0;
          font-weight: 700;
          color: #532C2E;
          text-transform: uppercase;
        }

        p {
          font-size: small;
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    width: 100vw;
    align-self: start;
    padding-left: 0;

    &--header {
      padding: 0 2em;
    }

    &--products {
      display: flex;
      width: calc(100% - 2em);

      &-item-img img {
        width: 120px;
      }

      &-item-data {
        width: 210px;
        margin-left: 1em;
      }

      &-btn-next {
        display: block;
        padding: 3px 2em;
        margin: auto;
        font-size: larger;
        margin-bottom: 1em;
        border-radius: 3px;
        background: #F2CB0E;
        font-weight: bold;
        color: #532C2E;

        &:disabled,
        &[disabled] {
          background: #CCCCCC;
          color: #9B9B9B;
        }
      }
    }

    &--content p {
      margin: 1em 0;
    }

    &--hide-form {
      .contact-component {
        display: none;
      }
    }
  }
}